<div class="workout__navigator">
  <button kendoButton (click)="previousWorkout()">Go Back</button>
  <input name="date" [(ngModel)]="workout.workoutDate">
  <button kendoButton (click)="nextWorkout()">Go Forward</button>
</div>

<div>
  <label for="name">Workout Name</label>
  <input name="name" [(ngModel)]="workout.workoutName">
</div>

<div *ngFor="let item of workout.workoutItems">
  <app-workout-item [item]="item"></app-workout-item>
  <hr/>
</div>
<button (click)="newWorkoutItem()">Add New</button>
